@import url('http://fonts.cdnfonts.com/css/aniron');
@mixin ring($size: 10px,$color,$translation:20px) {
    width:$size;
    height:$size;
    border:$size/10 solid $color;
    border-radius:50%;
    transform:translateX($translation);
    box-shadow: inset $size/15 $size/15  $size/10 darken($color,30%), $size/15 $size/15  $size/10 darken($color,30%);
}
*{
    font-family: 'Aniron', sans-serif;
    background-color:beige;
}
header p {
    background-color:black;
    height:80px;
    margin:0;
  }
  h1 {
    color:rgb(133, 78, 14);
    margin:20px;
    font-size:3em;
}
  
#rings {
      display:flex;
      border: 2px solid black;
      justify-content:center;
      padding-left:120px;
      align-items:center;
      margin-top:80px;
      +h1{
        border:2px solid black;
        text-align:center;

      }
  
  }
#head {
    display:flex;
    justify-content:center;
    align-items:center;
    border:2px solid black;
    .ring_head {
        @include ring($size:120px, $color:orange,$translation:0px)
    }
}
section {
    display:flex;
    justify-content:center;
    align-items:center;
    border:2px solid black;
    margin-top:80px;
    h1 {
        font-size:4em;
    }
    .ring_middle {
        @include ring ($size:200px, $color:gold,$translation:0px);
    }
}

@for $i from 1 through 6 {
    .ring_#{$i} {
        @include ring($size:$i*10px+40,$color:black,$translation:-$i*$i+$i*-20px);

    }
}